.footer {
  background-color: var(--bg-primary);
  border-top: 1px solid var(--border-color);
  padding: .5rem;
  margin-top: auto;
  color: var(--text-secondary);
  flex-shrink: 0;
  transition: all 0.3s ease;
}

.content {
  margin: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content p {
  color: var(--text-secondary);
  margin: 0;
}

.links {
  display: flex;
  gap: 1rem;
}

.links a {
  color: var(--text-secondary);
  text-decoration: none;
  transition: color 0.2s;
}

.links a:hover {
  color: var(--accent-color);
}